* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headerContainer {
  height: 250px;
  width: 100%;
  background-color: #e9eef6;
  padding: 50px;
}
.card-container {
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #a5a5a5;
}

.card-wrapper {
  width: 270px;
  height: 200px;
  box-shadow: 0px 3px 50px #a5a5a5;
  display: flex;
  flex-direction: column;
  margin: 30px !important;
}
i{
  margin-right: 10px !important;
}
.card-top {
  width: 100%;
  height: 2%;

}

.task-holder {
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-header {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80px;
  height: 30px;
  padding: 1px 1px !important;
  text-align: center;
}

.todoCards {
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f7f8;
  padding: 40px 54px;
}
